CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.vscode
cmake-build
.DS_Store
out
node_modules
mason_packages
.toolchain
.mason
local.env
xcode-project